includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    scanFiles:
        - %currentWorkingDirectory%/vendor/pimcore/pimcore/stubs/dynamic-constants.php
    reportUnmatchedIgnoredErrors: false
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/TestKernelTestDebugContainer.xml
        constantHassers: false
    excludePaths:
        # as long we don't install the dependencies :(
        - src/Seo/Extractor/GoogleForJobsExtractor.php
        - src/Seo/ResourceProcessor/GoogleJobsProcessor.php
    ignoreErrors:
        # 3rd parties
        - '/.*Spatie\\SchemaOrg\\Graph.*/'
        - '/.*League\\OAuth2\\Client.*/'
        - '#Class I18nBundle\\LinkGenerator\\I18nLinkGeneratorInterface not found\.#'
        - '#Call to static method buildForEntity\(\) on an unknown class I18nBundle\\Builder\\RouteParameterBuilder\.#'