includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/test/appTestKernelTestDebugContainer.xml
    excludes_analyse:
        # as long we don't install the dependencies :(
        - '*JobsBundle/Seo/Extractor/GoogleForJobsExtractor.php'
        - '*JobsBundle/Seo/ResourceProcessor/GoogleJobsProcessor.php'
    ignoreErrors:
        # 3rd parties
        - '/.*Spatie\\SchemaOrg\\Graph.*/'
        # There is no global constant definition file we could include, ignore it:
        - '/Constant PIMCORE_[A-Z\\_]+ not found\./'
        - '/.*NodeDefinition::append.*/'
        - '/.*NodeDefinition::addDefaultsIfNotSet.*/'