includes:
	- ../../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    symfony:
        container_xml_path: var/cache/dev/appAppKernelDevDebugContainer.xml
    ignoreErrors:
        # 3rd parties
        - '/Class SeoBundle/'
        - '/.*Spatie\\SchemaOrg\\Graph.*/'
        # There is no global constant definition file we could include, ignore it:
        - '/Constant PIMCORE_[A-Z\\_]+ not found\./'
        - '/.*NodeDefinition::append.*/'
        - '/.*NodeDefinition::addDefaultsIfNotSet.*/'